
#providerSearch {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#advancedSearch {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#otherOptions {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#personSearch {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}


