

.providerEdit table {
    width: 100%;
}

.providerEdit .providerHeaderTable {
    background-color: #BAD6D2;
}

.providerEdit .providerInfoTable {
    background-color: #E7F7F4;
}

.providerEdit .providerActionButtonsTable {
    background-color: #00A391;
    text-align: center;
}

.providerView th,td {
    padding-left: 10px;
}

