
.providerView table {
    width: 100%;
}

.providerView .topBar {
    background-color: #00A391;
}

.providerView .providerHeaderTable {
    background-color: #BAD6D2;
}

.providerView .providerInfoTable {
    background-color: #E7F7F4;
}

.providerView .providerActionButtonsTable {
    background-color: #00A391;
    text-align: center;
}

.providerView th,td {
    padding-left: 10px;
}


