
table {
    padding: 2px;
}

th {
    font-weight: bold;
    background-color: #ffd700;
}

.content {
    background-color: #e0ffff;
}

.label {
    font-weight: bold;
}

.highlighted {
    background-color: yellow;
}

#adminMenu {
    background-color: yellow;
    font-weight: bold;
    font-size: 20px;
}



