


#providerSearch {
    position: relative;
    top: 75px;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E7F7F4;
}

#personSearch {
    position: relative;
    top: 75px;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    background-color: #E7F7F4;
}

#advancedSearch {
    position: relative;
    top: 75px;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    background-color: #E7F7F4;
}
