
#providerView {
    position: absolute;
    top: 100px;
    width: 600px;
}

#providerEdit {
    position: absolute;
    top: 100px;
    width: 600px;
    display: none;
}

#patients {
    position: absolute;
    top: 200px;
    left: 700px;
    width: 900px;
}

#patients .multiSelectTitle th {
    background-color: #BAD6D2;
}

#patients .multiSelectActionButtons td {
    background-color: #00A391;
    text-align: right;
}

#supervisors {
    position: absolute;
    top: 200px;
    left: 700px;
    width: 900px;
    display: none;
}

#supervisees {
    position: absolute;
    top: 200px;
    left: 700px;
    width: 900px;
    display: none;
}

#supervisees .multiSelectActionButtons td {
    background-color: #00A391;
    text-align: right;
}

#transferSupervisees {
    display: none;
}

#addSupervisee {
    display: none;
}

#suggestSupervisees {
    display: none;
}

.transferPatients {
    display: none;
}

.addPatient {
    display: none;
}