

.providerEdit table {
    width: 100%;
}

.providerEdit .providerHeaderTable {
    background-color: #BAD6D2;
}

.providerEdit .providerInfoTable {
    background-color: #E7F7F4;
}

.providerEdit .providerActionButtonsTable {
    background-color: #BAD6D2;
    text-align: center;
}

