
#providerView {
    width: 600px;
}

#providerEdit {
    width: 600px;
    display: none;
}

#patients {
    width: 800px;
}

#supervisors {
    width: 800px;
}

#supervisees {
    width: 800px;
}

#addSupervisee {
    width: 800px;
}
