
#providerList {
    position: relative;
    top: 75px;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E7F7F4;
    display: none;
}


#peopleList {
    position: relative;
    top: 75px;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E7F7F4;
    display:none;
}
