
.multiSelectCheckboxTable a {
    text-decoration:  none;
    color:            black;
}

.multiSelectCheckboxTable table {
    width: 100%
}

.multiSelectActionButtons td {
    text-align: center;
}

.multiSelectCheckboxTable .checkboxCell {
    width: 5%;
    padding-left: 2px;
}
